.player{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player img{
    position: absolute;
    top: 18px;
    left: 18px;
    width: 48px;
    cursor: pointer;
}

.player iframe{
    border-radius: 8px;
}

.player-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 16px;
    font-size: 14px;
}
